@media (min-width: 1024px) {
	.h-slider {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.display-flex {
		margin: 0 auto !important;
	}
	.col-desk-3 {
		width: 25%;
	}
	.col-desk-9 {
		width: 75%;
	}
	.col-desk-8 {
		width: 66.66667%;
	}
	.col-desk-4 {
		width: 33.33333%;
	}
	.col-desk-6 {
		width: 50%;
	}
	.col-desk-12 {
		width: 100%;
	}
	.col-desk-8 > h1 {
		margin-top: 15px;
		text-align: start;
		font-size: 30px;
	}
	.col-desk-4 > p {
		margin-top: 15px;
		text-align: start;
		font-size: 16px;
	}
	//slider
	.col-slider-12 {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.slide {
		width: 100%;
	}
	.slide > div img {
		width: 1024px;
		height: 609px;
	}
	//about us
	.about-us {
		max-width: 1024px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.about-us > .col-desk-3 {
		display: flex;
	}
	.col-desk-3 > h1 {
		margin-top: 15px;
		text-align: start;
		font-size: 30px;
	}
	.col-desk-9 > p {
		margin-top: 15px;
		text-align: start;
		font-size: 16px;
	}
	.centr-img > h1 img {
		padding: 5px;
		padding-bottom: 10px;
	}
	//characteristic
	.container-3 {
		width: 1024px;
		margin: 0 auto;
		flex-wrap: wrap;
	}
	.container-3 > .col-desk-4 {
		width: 32%;
	}
	.characteristic {
		padding: 15px;
		padding-top: 35px;
		height: 200px;
		border: 1px solid #a2aab2;
		display: flex;
		flex-direction: column;
		gap: 30px;
	}
	.char-1 img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.char-2 {
		text-align: center;
	}
	//main-white
	.main-white {
		background-color: white;
	}
	.main-white > .container-1 {
		display: flex;
		flex-wrap: wrap;
	}
	.col-desk-12 > div > img {
		width: 1024px;
		height: 500px;
	}
	//container-4
	.container-4 {
		display: flex;
		flex-wrap: wrap;
		max-width: 1024px;
		margin: 0 auto;
	}
	h2 {
		border: #a2aab2 2px solid;
		width: 170px;
		padding-left: 5px;
		padding-right: 5px;
	}
	//Отзывы
	.main-white > .container-1 {
		display: flex;
		flex-wrap: wrap;
	}
	.reviews > div img {
		width: 100%;
		height: auto;
	}
}
